body{
    font-family: cursive;
    background-color: black;
}

p{
    text-align: center;
    font-size: 50px;
    color: coral;
    margin-top: 40px;
    margin-bottom: 50px;
}
span{
    color: red;
    font-size: 80px;
}
article{
    text-align: center;
    color: crimson;
    font-size: 50px;
    margin-bottom: 20px;
}
h1{
    color: blueviolet;
    font-size: 40px;
    margin-left: 20px;
}
div {
    font-size: 35px;
    color: cornflowerblue;
    margin-left: 30px;

    margin-bottom: 45px;
}
.logo{
    padding-top: 20px;
     height: 100px;
     width: 300px;
 }