<html>
    <head>
        <title>BCA Wala - Account</title>
        <link href = "static\account.css" rel="stylesheet">
    </head>
    <body>
        <span id="wallet"> <p>Wallet</p>{{current_user.Wallet}} <img class  = "img" src = "static\images\earn.JPG"> </span>
        {%with messages = get_flashed_messages()%}
                   {% if messages %}
                      {% for message in messages %}
                        <center> <h3 id = "message">{{ message}}</h3></center>
                       {%endfor%}
                    {%endif%}
                {%endwith%}
        <div>
        <h1 id = "heading">User Details</h1>
        <span id = 'name'> Name  :  {{current_user.Name}} 
        </span><br>
        <span id = 'email'> Email   : {{current_user.Email}} 
        </span><br>
        <span id = "college"> College  :   {{current_user.College}} 
        {% if current_user.Premium == "YES" %}
             </span><br>
             <span id = "status"> Status  : Premium Account 
             </span><br>
        {% else %}
        </span><br>
        <span id = "status"> Status  : Basic  Accouunt----Expires  on: 12/110/2024 
        </span><br>
        {% endif%}
        <a  href="{{url_for('logout')}}" id="logout">Log Out</a>
        </div>
    </body>
</html>