<html>
    <head>
        <title>
            BCA Wala-Test
        </title>
    </head>
    <body>
        <h1 style="text-align: center;font-size: 80px ; color: red ; margin-top: 80px;">{{id}}</h1>
       <div style="display: inline-flex;margin-left: 100px;" > 
        <a href = "{{url_for('test' , data = id+'1')}}" style="display: block;margin-bottom: 150px;padding-top: 10px;text-decoration: none ; color: royalblue ; font-size: 40px ; height: 120px ; width: 200px ; border: 1px solid red ; margin-top: 40px ; margin-left: 100px ; text-align: center;">Unit 1 - Take Test</a>
        <a href = "{{url_for('test' , data = id+'2')}}" style=" display: block;margin-bottom: 150px;padding-top: 10px; text-decoration: none ; color: royalblue ; font-size: 40px ; height: 120px ; width: 200px ; border: 1px solid red ; margin-top: 40px ; margin-left: 100px ; text-align: center;">Unit 2 - Take Test</a>
        <a href = "{{url_for('test' , data = id+'3')}}" style="display: block;margin-bottom: 150px;padding-top: 10px ; text-decoration: none ; color: royalblue ; font-size: 40px ; height: 120px ; width: 200px ; border: 1px solid red ; margin-top: 40px ; margin-left: 100px ; text-align: center;">Unit 3 - Take Test</a>
        <a href = "{{url_for('test' , data = id+'4')}}" style="display: block;margin-bottom: 150px;padding-top: 10px ; text-decoration: none ; color: royalblue ; font-size: 40px ; height: 120px ; width: 200px ; border: 1px solid red ; margin-top: 40px ; margin-left: 100px ; text-align: center;">Unit 4 - Take Test</a>
        </div>
        <article style="display: inline-flex; margin-left: 100px;">
        <a href = "{{url_for('test' , data = id+'5')}}" style="display: block;margin-bottom: 150px;padding-top: 10px ; text-decoration: none ; color: royalblue ; font-size: 40px ; height: 120px ; width: 200px ; border: 1px solid red ; margin-top: 40px ; margin-left: 100px ; text-align: center;">Unit 5 - Take Test</a>
        <a href = "{{url_for('test' , data = id+'6')}}" style="display: block;margin-bottom: 150px;padding-top: 10px ; text-decoration: none ; color: royalblue ; font-size: 40px ; height: 120px ; width: 200px ; border: 1px solid red ; margin-top: 40px ; margin-left: 100px ; text-align: center;">Unit 6 - Take Test</a>
        <a href = "{{url_for('test' , data = id+'7')}}" style="display: block;margin-bottom: 150px;padding-top: 10px ; text-decoration: none ; color: royalblue ; font-size: 40px ; height: 120px ; width: 200px ; border: 1px solid red ; margin-top: 40px ; margin-left: 100px ; text-align: center;">Unit 7 - Take Test</a>
        <a href = "{{url_for('test' , data = id+'8')}}" style="display: block;margin-bottom: 150px;padding-top: 10px ; text-decoration: none ; color: royalblue ; font-size: 40px ; height: 120px ; width: 200px ; border: 1px solid red ; margin-top: 40px ; margin-left: 100px ; text-align: center;">Unit 8 - Take Test</a>
        </article>
    </body>
</html>