<!DOCTYPE html>
<html>
    <head>
        <title>
            Forgot Password 
        </title>
    </head>
    <body>
        <h1>Forgot Password</h1>
        <p>We will send an OTP to your registered email address</p>
        
        <form acction = 'forgot_password' method="post">
            <label for = 'email' name  = 'email'>Email: 
                <input type="text" required>
            </label>
            <button type="submit" class="btn btn-primary">Send OTP</button>
        </form>
    </body>
</html>