<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razorpay Payment Gateway</title>
</head>
<body>
    <center><h1 style= "color: rgba(255, 0, 0, 0.925); font-size: 60px; font-family: cursive;">Razorpay Payment Gateway</h1></center>
    <form action="/charge" method="POST">
        <label for="amount" style="font-size: 40px;">Amount to Pay (INR): 299</label><br>
        <input type="submit" value="Pay with Razorpay">
    </form>
</body>
</html>