<html>
    <head>
        <title>BCA wala - Test</title>
        <link href = "static\practice_sub.css" rel="stylesheet">
    </head>
    <body>
        <center> <a href = "{{url_for('home')}}"><img class="logo" src = "static/images/logo-removebg-preview.png"></a></center>
        <section class="firstyear">
            <div id="sem1">
                <h1 style="text-align: center; padding-top: 10px;font-size: 30px;"> Semester 1-Test </h1>
                <center><hr color="rgba(255, 0, 0, 0.568)" size="5px" width="50%"></center>
                    <ul id = "topicsem1" type = "disc">
                        <a href ="{{ url_for('chapter_name', id= 'Computer Fundamental') }}"> <li>
                            Computer Fundamental & Problem solving Techniques</li></a>

                       <a href ="{{url_for('chapter_name' ,id = 'C Programming')}}"> <li>C Programming </li></a>
                       <a href ="{{url_for('chapter_name' ,id = 'Principle of Management')}}"><li>Principle of Management</li></a>
                       <a href ="{{url_for('chapter_name' ,id = 'Business Communication')}}"><li>Business Communication </li></a>
                        <a href ="{{url_for('chapter_name' ,id = 'Mathematics -I')}}"><li>Mathematics -I</li></a>
                    </ul>
                </div>
                    <div id = "sem2">
            <h1 style="text-align: center; padding-top: 10px;font-size: 30px;"> Semester 2-Test </h1>

            <center><hr color="rgba(255, 0, 0, 0.568)" size="5px" width="50%"></center>
                    <ul id = "topicsem1" type = "disc">
                        <a href ="{{url_for('chapter_name' ,id = 'Financial Accounting Management')}}"><li>
                            Financial Accounting & Management</li></a>
                            <a href ="{{url_for('chapter_name' ,id = 'OOP Using C++')}}"><li>OOP Using C++ </li></a>
                                <a href ="{{url_for('chapter_name' ,id = 'Internet Technology and Web Design')}}"><li>Internet Technology and Web Design</li></a>
                                    <a href ="{{url_for('chapter_name' ,id = 'Organization Behavior')}}"><li>Organization Behavior </li></a>
                                        <a href ="{{url_for('chapter_name' ,id = 'Mathematics -II')}}"> <li>Mathematics -II</li></a>
                    </div>
                    <div id = "sem3">
                    <h1 style="text-align: center; padding-top: 10px;font-size: 30px;">Semester 3 -Test</h1>
                    <center><hr color="rgba(255, 0, 0, 0.568)" size="5px" width="50%"></center>        
                    <ul id = "topicsem1" type = "disc">
                        <a href ="{{url_for('chapter_name' ,id = 'Python')}}"> <li>Python</li></a>
                            <a href ="{{url_for('chapter_name' ,id = 'Data Structure Using C & C++')}}"> <li>Data Structure Using C & C++</li></a>
                                <a href ="{{url_for('chapter_name' ,id = 'Operating System')}}"> <li>Operating System</li></a>
                                    <a href ="{{url_for('chapter_name' ,id = 'Digital Electronics & Computer Organization')}}"><li>Digital Electronics & Computer Organization</li></a>
                                        <a href ="{{url_for('chapter_name' ,id = 'Elements of Statistics')}}"><li>Elements of Statistics</li></a>
                            </div>
        </section>
        <section>
            <section class="firstyear">
                <div id="sem1">
                    <h1 style="text-align: center; padding-top: 10px;font-size: 30px;"> Semester 4 -Test</h1>
                    <center><hr color="rgba(255, 0, 0, 0.568)" size="5px" width="50%"></center>
                        <ul id = "topicsem1" type = "disc">
                            <a href ="{{url_for('chapter_name' ,id = 'Computer Graphics & Animation')}}"><li>
                                Computer Graphics & Animation</li></a>
                                <a href ="{{url_for('chapter_name' ,id = 'Database Management System')}}"><li>Database Management System </li></a>
                                    <a href ="{{url_for('chapter_name' ,id = 'Software Engineering')}}"><li>Software Engineering</li></a>
                                        <a href ="{{url_for('chapter_name' ,id = 'Optimization Techniques')}}"><li>Optimization Techniques </li></a>
                                            <a href ="{{url_for('chapter_name' ,id = 'Mathematics -III')}}"><li>Mathematics -III</li></a>
                        </ul>
                    </div>
                        <div id = "sem2">
                <h1 style="text-align: center; padding-top: 10px;font-size: 30px;"> Semester 5 -Test</h1>
    
                <center><hr color="rgba(255, 0, 0, 0.568)" size="5px" width="50%"></center>
                        <ul id = "topicsem1" type = "disc">
                            <a href ="{{url_for('chapter_name' ,id = '')}}"><li>
                                Knowledge Management</li></a>
                                <a href ="{{url_for('chapter_name' ,id = 'Java Programming')}}"> <li>Java Programming </li></a>
                                    <a href ="{{url_for('chapter_name' ,id = 'Computer Network')}}"> <li>Computer Network</li></a>
                                        <a href ="{{url_for('chapter_name' ,id = 'Numerical Methods')}}"><li>Numerical Methods</li></a>
                        </div>
                        <div id = "sem3">
                        <h1 style="text-align: center; padding-top: 10px;font-size: 30px;">Semester 6 -Test</h1>
                        <center><hr color="rgba(255, 0, 0, 0.568)" size="5px" width="50%"></center>        
                        <ul id = "topicsem1" type = "disc">
                            <a href ="{{url_for('chapter_name' ,id = 'Information & Cyber Security')}}"> <li>Information & Cyber Security</li></a>
                                <a href ="{{url_for('chapter_name' ,id = 'Internet Of Things')}}"> <li>Internet Of Things</li></a>
                                    <a href ="{{url_for('chapter_name' ,id = 'E-Commerce')}}"> <li>E-Commerce</li></a>
                                        <a href ="{{url_for('chapter_name' ,id = 'Data Science and Machine Learning')}}"> <li>Data Science and Machine Learning</li>
                                        </a></div>
        </section> 
    </body>
</html>